<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TODO List App</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>TODO</h1>
        <ul>
            <li v-for="todo in noCheckeds">
                <input 
                    type="checkbox" 
                    :name="'check'+todo._id" 
                    :id="'check'+todo._id" 
                    v-model="todo.done"
                    @click="toggleTodo(todo._id)"
                    class="checkbox-check">
                <label :for="'check'+todo._id" class="checkbox-mark"></label>
                <span class=text>{{ todo.task }}</span>
                <button @click="delTodo(todo._id)">X</button>
            </li>
        </ul>
        <ul class="checkeds">
            <li v-for="todo in checkeds">
                <input 
                    type="checkbox" 
                    :name="'check'+todo._id" 
                    :id="'check'+todo._id" 
                    v-model="todo.done"
                    @click="toggleTodo(todo._id)"
                    class="checkbox-check">
                <label :for="'check'+todo._id" class="checkbox-mark"></label>
                <span class='text'>{{ todo.task }}</span>
                <button @click="delTodo(todo._id)">X</button>
            </li>
        </ul>
        <input type="text" v-model="novo" @keyup.enter="createNew">
    </div>
</body>
    <script src="script.js"></script>
    <!-- <script>
    const url = '/todo/list';
    fetch(url)
        .then(res => res.json())
        .then(res => {
            console.log(res)
        })
    </script> -->
</html>